/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .services h2 {
        margin-top: 5rem;
    }
}

@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding: 7rem;
    }

    .services h2 {
        margin-top: 4rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .about-content h1 {
        font-size: 5rem;
    }

    .home-image img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .services h2 {
        margin-top: 3.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    nav .logo {
        font-size: 30px;
    }

    .services h2 {
        margin-top: 4rem;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    nav .logo {
        font-size: 25px;
    }

    .home-image img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .services h2 {
        margin-top: 5rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}